# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so


# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
pip-wheel-metadata/
share/python-wheels/

# Virtual environments
env/
venv/
ENV/
VENV/
venv.bak/
.env/
.venv/
.venv.bak/
.venv

# Django stuff
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Static and media files
staticfiles/
media/

# Pytest
.cache/
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
coverage.xml
*.cover
.hypothesis/

# MyPy
.mypy_cache/

# Pyre
.pyre/

# Pyright
.pyright/

# Pylint
.pylint.d/

# VS Code
.vscode/

# JetBrains IDEs
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*.swp
*~

# Secret Keys
.env

# Temporary files until using Azure storage
album_covers/
tracks/

celerybeat-schedule 